In [3]:
#Dependicies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [4]:
#MAANG and Crypto files
maang_data_path = "../resources/Maang stock prices/combined_file.csv"
btc_data_path = "../resources/BTC-USD (1).csv"
doge_data_path = "../resources/DOGE-USD.csv"

In [11]:
#Read MAANG and Crypto files
maang_df = pd.read_csv(maang_data_path)
btc_df = pd.read_csv(btc_data_path)
doge_df = pd.read_csv(doge_data_path)

#Remove additional header rows from MAANG file
value_to_remove = 'Name'
maang_df = maang_df[maang_df['Name'] != value_to_remove]
maang_df.head()

,Name,Date,Open,High,Low,Close,Adj Close,Volume
0,AMZN,7/30/18,91.366501,91.474998,88.301003,88.960999,88.960999,131246000
1,AMZN,7/31/18,89.324501,90.091499,86.966003,88.872002,88.872002,114774000
2,AMZN,8/1/18,89.199997,89.921997,88.801003,89.858498,89.858498,83062000
3,AMZN,8/2/18,89.438499,91.828003,89.300003,91.716499,91.716499,87094000
4,AMZN,8/3/18,91.887001,92.050003,91.074997,91.164497,91.164497,69210000

In [10]:
#Reformat BTC file to align with MAANG file
btc_name = "BTC"
btc_df['Name'] = btc_name
column_order = ['Name', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
btc_df = btc_df.reindex(columns=column_order)
btc_df.head()

,Name,Date,Open,High,Low,Close,Adj Close,Volume
0,BTC,2022-08-04,22848.214844,23198.009766,22485.701172,22630.957031,22630.957031,2.512023e+10
1,BTC,2022-08-05,22626.833984,23422.828125,22612.177734,23289.314453,23289.314453,2.888125e+10
2,BTC,2022-08-06,23291.423828,23326.562500,22961.279297,22961.279297,22961.279297,1.597826e+10
3,BTC,2022-08-07,22963.505859,23359.009766,22894.556641,23175.890625,23175.890625,1.588682e+10
4,BTC,2022-08-08,23179.527344,24203.689453,23176.546875,23809.486328,23809.486328,2.857554e+10

In [12]:
#Reformat DOGE file to align with MAANG file
doge_name = "DOGE"
doge_df['Name'] = doge_name
column_order = ['Name', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
doge_df = doge_df.reindex(columns=column_order)
doge_df.head()

,Name,Date,Open,High,Low,Close,Adj Close,Volume
0,DOGE,2017-11-09,0.001207,0.001415,0.001181,0.001415,0.001415,6259550.0
1,DOGE,2017-11-10,0.001421,0.001431,0.001125,0.001163,0.001163,4246520.0
2,DOGE,2017-11-11,0.001146,0.001257,0.001141,0.001201,0.001201,2231080.0
3,DOGE,2017-11-12,0.001189,0.001210,0.001002,0.001038,0.001038,3288960.0
4,DOGE,2017-11-13,0.001046,0.001212,0.001019,0.001211,0.001211,2481270.0

In [8]:
#Combine maang, btc, and doge dataframes into one
combined = [maang_df, btc_df, doge_df]
combined_df = pd.concat(combined)
combined_df['Date'] = pd.to_datetime(combined_df['Date'])
combined_df

#Drop NA values
clean_combined_df = combined_df.dropna()
clean_combined_df

,Name,Date,Open,High,Low,Close,Adj Close,Volume
0,AMZN,2018-07-30,91.366501,91.474998,88.301003,88.960999,88.960999,131246000
1,AMZN,2018-07-31,89.324501,90.091499,86.966003,88.872002,88.872002,114774000
2,AMZN,2018-08-01,89.199997,89.921997,88.801003,89.858498,89.858498,83062000
3,AMZN,2018-08-02,89.438499,91.828003,89.300003,91.716499,91.716499,87094000
4,AMZN,2018-08-03,91.887001,92.050003,91.074997,91.164497,91.164497,69210000
...,...,...,...,...,...,...,...,...
2089,DOGE,2023-07-30,0.08019,0.080439,0.077039,0.078061,0.078061,436209339.0
2090,DOGE,2023-07-31,0.078063,0.079656,0.0771,0.077818,0.077818,346973531.0
2091,DOGE,2023-08-01,0.077824,0.078168,0.076043,0.078042,0.078042,369078156.0
2092,DOGE,2023-08-02,0.078038,0.078195,0.0741,0.074213,0.074213,364508311.0
2094,DOGE,2023-08-04,0.073646,0.074304,0.07357,0.074289,0.074289,374561056.0

In [9]:
tickers = ['AMZN', 'META', 'NVDA', 'MSFT', 'GOOG', 'NFLX', 'AAPL', 'BTC', 'DOGE']

['AMZN' 'META' 'NVDA' 'MSFT' 'GOOG' 'NFLX' 'AAPL' 'BTC' 'DOGE']